.usercard >.card{

     background-color: #7c4d75!important;
    
     border-radius: 20px;
    
    height: 200px;
    
     width: 699px;
    
    }
    
    .usercard >.card-user{
    
     background-color: #d15c5c!important;
    
     border-radius: 20px;
    
     height: 200px;
    
     width: 399px;
    
    }
    
    
    
    
    .usercard >.card-b{
    
     background-color: #e6d0ff!important;
    
     border-radius: 0px;
    
     height: 200px;
    
     width: 699px;
     justify-content: center;
    
    }
    
    .usercard >.card >.card-footer {
    
     border-top:unset;
    
    }
    
    .usercard >.card-title{
    
    font-size: 2rem;
    justify-content: center;
    
    }
    
    .usersspan{
    
    
    
     float: right;
    
     margin-right: 35px;
    
     margin-top: 40px;
    
     font-size: 45px; 
    
    }
    
    .nftsspan{
    
     float: right;
    
    margin-right: 35px;
    
     margin-top: 40px;
    
    }
    
    .nftimage{
    
     width: 67px;
    
     height: 67px;
    
     border-radius: 10px
    
    }
    
    .button-nn{
    
    height: 50px;
    
     width: 207px;
    
     border-radius: 20px;
    
     background-color: #023b6d;
    
     color: lightgray;
    
     text-align: center;
    
     margin: auto;
    
    }
    h2,h4{
        text-align: center;
    }

    